<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="goodsList">
<head>
<title>商品列表</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
	<div class="text-right"><a class="btn btn-warning" href="goodAdd">添加商品</a></div>
	<br>
	<ul role="tablist" class="nav nav-tabs">
        <li class="active" role="presentation"><a href="goodList">全部商品</a></li>
        <li  role="presentation"><a href="goodList?type=1">今日推荐</a></li>
    </ul>
	<br>
	<table class="table table-bordered table-hover">

	<tr>
		<th width="3%">ID</th>
		<th width="5%">图片</th>
		<th width="10%">名称</th>
		<th width="10%">介绍</th>
		<th width="5%">规格</th>
		<th width="3%">价格</th>
		<th width="5%">类目</th>
		<th width="3%">库存</th>
		<th width="3%">销量</th>
		<th width="5%">操作</th>
	</tr>
	
	
         <tr th:each="good:${map.list}">
         	<td><p th:text="${good.goods.id}"></p></td>
         	<td><p><a href="../index/detail?id=1" target="_blank"><img th:src="${good.goods.cover}" width="100px"></a></p></td>
         	<td><p><a href="../index/detail?id=1" target="_blank" th:text="${good.goods.name}"></a></p></td>
         	<td><p th:text="${good.goods.intro}"></p></td>
         	<td><p th:text="${good.goods.spec}"></p></td>
         	<td><p th:text="${good.goods.price}"></p></td>
         	<td><p th:text="${good.types.name}"></p></td>
         	<td><p th:text="${good.goods.stock}"></p></td>
         	<td><p th:text="${good.goods.sales}"></p></td>
			<td>
				<p>
					<a class="btn btn-success topDelete"  th:if="${good.tops!=null}" th:href="|/admin/deleteTops?goodId=${good.goods.id}|" type="1" goodId="1" >移出今日推荐</a>
					<a class="btn btn-primary topSave" href="" th:if="${good.tops==null}" th:href="|/admin/addTops?goodId=${good.goods.id}|" >加入今日推荐</a >
				</p>
				<a class="btn btn-info" th:href="|goodEdit?id=${good.goods.id}|">修改</a>
				<a class="btn btn-danger" th:href="|goodDelete?id=${good.goods.id}|">删除</a>
			</td>
       	</tr>
	</table>

	<br>
	<div style='text-align:center;'>
		<a class='btn btn-info'  href="goodList?page=1">首页</a>
		<a class='btn btn-info' th:if="${map.page!=1}" th:href='|goodList?page=${map.page-1}&type=${map.type}|'>上一页</a>
		<a class='btn btn-info' th:if="${map.page==1}" disabled>上一页</a>
		<h2 style='display:inline;' th:text="|[${map.page}/${map.numPage}]|"></h2>
		<h2 style='display:inline;' th:text="|[${map.total}]|"></h2>
		<a class='btn btn-info' th:if="${map.page}!=${map.numPage}" th:href='|goodList?page=${map.page+1}&type=${map.type}|'>下一页</a>
		<a class='btn btn-info' th:if="${map.page}==${map.numPage}" disabled>下一页</a>
		<a class='btn btn-info' th:href='|goodList?page=${map.numPage}|'>尾页</a>
		<input  type='number' class='form-control' style='display:inline;width:60px;' th:value='${map.page}'  th:min="1" th:max="${map.numPage}"/>
		<a class='btn btn-info' href='javascript:void(0);' onclick='location.href="goodList?page="+($(".form-control").val())+""'>GO</a>
	</div>
	<br>
</div>


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	$(".form-control").blur(function (){
	 const 	numPage = $($("h2")[0]).text().split("/")[1].split("]")[0]
		if($(this).val()>parseInt(numPage)){
			$(this).val(parseInt(numPage));
		}
		if($(this).val()<0){
			$(this).val(1)
		}
	})
$(function(){
	$(document).on("click", ".topSave", function(){
		var type = $(this).attr("type");
		var goodId = $(this).attr("goodId");
		var text = $(this).attr("text");
		var old = $(this).text();
		var obj = this;
		$.post("topSave", {"goodId": goodId, "type": type}, function(data){
			if(data=="ok"){
				$(obj).text(text).attr("class", "btn btn-success topDelete").attr("text", old);
			}else{
				alert("操作失败!");
			}
		}, "text");
	});
	$(document).on("click", ".topDelete", function(){
		var type = $(this).attr("type");
		var goodId = $(this).attr("goodId");
		var text = $(this).attr("text");
		var old = $(this).text();
		var obj = this;
		$.post("topDelete", {"goodId": goodId, "type": type}, function(data){
			if(data=="ok"){
				$(obj).text(text).attr("class", "btn btn-primary topSave").attr("text", old);
			}else{
				alert("操作失败!");
			}
		}, "text");
	});
});
</script>
</body>
</html>