<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="list">
<head>
<title>客户列表</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">

	
	<div class="text-right"><a class="btn btn-warning" href="userAdd">添加客户</a></div>
		
	<br>
	
	<table class="table table-bordered table-hover">

	<tr>
		<th width="5%">ID</th>
		<th width="5%">用户</th>
		<th width="10%">姓名</th>
		<th width="10%">电话</th>
		<th width="10%">地址</th>
		<th width="15%">操作</th>
	</tr>
	
		<tr th:each="users:${userList.list}">
         	<td><p th:text="${users.id}">1</p></td>
         	<td><p th:text="${users.username}">user</p></td>
         	<td><p th:text="${users.name}">华丽</p></td>
         	<td><p th:text="${users.phone}">123456789</p></td>
         	<td><p th:text="${users.address}">湖南浦东新区</p></td>
			<td>
				<a class="btn btn-info" th:href="|user_reset?id=${users.id}&username=${users.username}|">重置密码</a>
				<a class="btn btn-primary" th:href="|userEdit?id=${users.id}|">修改</a>
				<a class="btn btn-danger" th:href="|userDelete?id=${users.id}|">删除</a>
			</td>
       	</tr>
	</table>

	<br>
	<div style='text-align:center;'>
		<a class='btn btn-info' disabled >首页</a>
		<a class='btn btn-info' disabled >上一页</a>
		<h2 style='display:inline;'>[1/1]</h2>
		<h2 style='display:inline;'>[5]</h2>
		<a class='btn btn-info' disabled >下一页</a>
		<a class='btn btn-info' disabled >尾页</a>
		<input type='text' class='form-control' style='display:inline;width:60px;' value=''/>
		<a class='btn btn-info' href='javascript:void(0);' onclick='location.href="userList?page="+(this.previousSibling.value)+""'>GO</a>
	</div>
	<br>
</div>
</body>
</html>