<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.css">
</head>
<body>
<div th:if="${session.user==null}">
    <div th:replace="~{/index/header::myhead}"></div>
</div>
<div th:if="${session.user!=null}">
    <div th:replace="~{/index/header-login::myhead}"></div>
</div>

<div class="main">
    <!--今日推荐-->
    <div class="m_content m_today_box">
        <div id="m_today">
            <div class="m-hot-tit clearfix">
                <div class="m-hot-tit-left"><span>今日推荐</span></div>
                <a href="today">
                    <div class="m-hot-tit-right"><span>更多推荐 ></span></div>
                </a>
            </div>
            <div class="mdd_today_box clearfix">
                <div class="m_today_center clearfix">

                    <div class="goods-box2 " th:each="goodsVo:${today}">
                        <div class="goods clearfix">
                            <a th:href="|detail?id=${goodsVo.goods.id}|">
                                <div class="img-box">
                                    <img th:src="${goodsVo.goods.cover}">
                                </div>
                            </a>
                            <div class="goods-right">
                                <a th:href="|detail?id=${goodsVo.goods.id}|">
                                    <p class="goodsname" th:text="${goodsVo.goods.name}">即品坚果 台湾甄选 颗颗饱满</p>
                                </a>
                                <p class="goods-descript" th:text="${goodsVo.goods.intro}">留存水果本真 有滋有味</p>
                                <p class="goods-spec" th:text="${goodsVo.goods.spec}">56g</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont"
                                                                                   th:text="${goodsVo.goods.price}">12</span></span>
                                </p>
                                <p class="addcart" data-id="32"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!--热销排行-->
    <!-- 排名前三个热销商品 -->
    <div class="m_content mdd-top">
        <div id="m_hot">
            <div class="m-hot-tit clearfix">
                <div class="m-hot-tit-left"><span>热销排行</span></div>
                <a href="hot">
                    <div class="m-hot-tit-right"><span>更多热销 ></span></div>
                </a>
            </div>
            <div class="m_hot_one clearfix">


                <div class="goods-box1 " th:each="goods,index:${sales}" th:if="${index.count<=3}">
                    <div class="goods clearfix">
                        <div class="m-pm" style="background-image: url(img/m_top_1.png)"></div>
                        <a th:href="|detail?id=${goods.getId()}|">
                            <div class="img-box">
                                <img th:src="${goods.getCover()}">
                            </div>
                        </a>
                        <div class="goods-right">
                            <a th:href="|detail?id=${goods.getId()}|">
                                <p class="goodsname" th:text="${goods.name}">栖霞苹果 爽脆清甜</p>
                            </a>
                            <p class="goods-descript" th:text="${goods.intro}">肉质紧密 味道甘甜</p>
                            <p class="goods-spec" th:text="${goods.spec}">约550g/2个</p>
                            <p class="goodsprices"><span class="yj">&yen;<span class="yjcont"
                                                                               th:text="${goods.price}">9</span></span>
                            </p>
                            <p class="addcart" data-id="6"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 排名第四-八的热销商品 -->
            <div class="m_hot_two clearfix">
                <div class="goods-box " th:each="goods,index:${sales}" th:if="${index.count>3}">
                    <div class="goods clearfix">
                        <div class="m-pm"><span>4</span></div>
                        <a th:href="|detail?id=${goods.getId()}|">
                            <div class="img-box">
                                <img th:src="${goods.getCover()}">
                            </div>
                        </a>
                        <div class="goods-right">
                            <a th:href="|detail?id=${goods.getId()}|">
                                <p class="goodsname" th:text="${goods.name}">西州蜜瓜</p>
                            </a>
                            <p class="goods-descript" th:text="${goods.intro}">果肉厚质 中心橘红</p>
                            <p class="goods-spec" th:text="${goods.spec}">约1kg-1.5kg 一个</p>
                            <p class="goodsprices"><span class="yj">&yen;<span class="yjcont" th:text="${goods.price}">30</span></span>
                            </p>
                            <p class="addcart" data-id="4"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--产品分类-->

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>生态果蔬</span></div>
            <a href="type?id=1">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goods:${fruit}">
                        <div class="goods-box" th:each="goods:${goods}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <div class="img-box">
                                        <img th:src="${goods.getCover()}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <p class="goodsname" th:text="${goods.name}">辣狗</p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}">不错的狗子</p>
                                <p class="goods-spec" th:text="${goods.spec}">很大</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont"
                                                                                   th:text="${goods.price}">120</span></span>
                                </p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="swiper-slide"></div>-->
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>肉禽蛋奶</span></div>
            <a href="type?id=2">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" th:each="goods:${meat}">
                        <div class="goods-box" th:each="goods:${goods}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <div class="img-box">
                                        <img th:src="${goods.getCover()}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <p class="goodsname" th:text="${goods.name}">辣狗</p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}">不错的狗子</p>
                                <p class="goods-spec" th:text="${goods.spec}">很大</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont" th:text="${goods.price}">120</span></span></p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>米面粮油</span></div>
            <a href="type?id=3">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goods:${rice}">
                        <div class="goods-box" th:each="goods:${goods}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <div class="img-box">
                                        <img th:src="${goods.getCover()}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <p class="goodsname" th:text="${goods.name}">中畅佳禾 大麦 自然生长</p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}">400g</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont" th:text="${goods.price}">59</span></span></p>
                                <p class="addcart" data-id="26"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>休闲零食</span></div>
            <a href="type?id=4">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" th:each="goods:${snacks}">
                        <div class="goods-box" th:each="goods:${goods}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <div class="img-box">
                                        <img th:src="${goods.getCover()}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <p class="goodsname" th:text="${goods.name}">中畅佳禾 大麦 自然生长</p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}">400g</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont" th:text="${goods.price}">59</span></span></p>
                                <p class="addcart" data-id="26"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>玩具</span></div>
            <a href="type?id=5">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goods:${toy}">
                        <div class="goods-box" th:each="goods:${goods}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <div class="img-box">
                                        <img th:src="${goods.getCover()}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <p class="goodsname" th:text="${goods.name}">中畅佳禾 大麦 自然生长</p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}">400g</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont" th:text="${goods.price}">59</span></span></p>
                                <p class="addcart" data-id="26"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>户外用品</span></div>
            <a href="type?id=6">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" th:each="goods:${outdoors}">
                        <div class="goods-box" th:each="goods:${goods}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <div class="img-box">
                                        <img th:src="${goods.getCover()}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.getId()}|">
                                    <p class="goodsname" th:text="${goods.name}">中畅佳禾 大麦 自然生长</p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}">400g</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont" th:text="${goods.price}">59</span></span></p>
                                <p class="addcart" data-id="26"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>


</div>
<footer th:replace="/index/footer::myfoot"></footer>
</body>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.fly.min.js" type="text/javascript"></script>
<script src="/js/jquery.flexslider.min.js" type="text/javascript"></script>
<script src="/js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // 商品轮播
    new Swiper('.m-swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });

    // 显示购物车按钮
    $(".goods-box").on("mouseenter", function () {
        $(this).addClass("active")
        $(this).find(".addcart").show()
        $(this).find(".reserve").show()
        $(this).find(".m_stop").show()
        $(this).find(".goodsprices").hide()
    });
    $(".goods-box").on("mouseleave", function () {
        $(this).removeClass("active")
        $(this).find(".addcart").hide()
        $(this).find(".reserve").hide()
        $(this).find(".m_stop").hide()
        $(this).find(".goodsprices").show()
    });
    $(".goods-box1").on("mouseenter", function () {
        $(this).addClass("active")
    });
    $(".goods-box1").on("mouseleave", function () {
        $(this).removeClass("active")
    });
    $(".goods-box2").on("mouseenter", function () {
        $(this).addClass("active")
        $(this).find(".addcart").show()
        $(this).find(".reserve").show()
        $(this).find(".goodsprices").hide()
    });
    $(".goods-box2").on("mouseleave", function () {
        $(this).removeClass("active")
        $(this).find(".addcart").hide()
        $(this).find(".reserve").hide()
        $(this).find(".goodsprices").show()
    });

</script>

</html>