<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的订单</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/reclassify.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <style>
        .pay {
            padding: 10px;
        }

    </style>
</head>
<body>
<div th:if="${session.user!=null}">
    <div th:replace="~{index/header-login::myhead}"></div>
</div>
<div id="main">

    <div class="east" style="width: 1200px;margin: 0 auto;">
        <div style="">
            <table border="0" cellspacing="" cellpadding="" class="list">
                <thead>
                <tr>
                    <th class="li1"></th>
                    <th class="li2"><span>商品</span></th>
                    <th class="li3"><span>单价</span></th>
                    <th class="li4"><span>数量</span></th>
                    <th class="li5"><span></span></th>
                    <th class="li6"><span>实付款</span></th>
                    <th class="li7"><span>交易状态</span></th>
                    <th class="li8"><span>交易操作</span></th>
                </tr>
                </thead>
            </table>
        </div>

        <div style="width:100%;height:auto !important;height:468px;background: #f6f6f6;">
            <div id="itemContainer" style="background: #f6f6f6;">


                <table border="0" cellspacing="" cellpadding="" class="list animated wobble"
                       th:each="order:${orders.orderVoList}">
                    <tbody>
                    <tr class="order-info">
                        <td colspan="8">
                            <span style="margin-left: 20px;">订单编号&nbsp;:&nbsp;</span><i class="order-num"
                                                                                            th:text="${order.orders.id}">1</i>
                            <span style="margin-left: 40px;">下单时间&nbsp;:&nbsp;</span><i class="order-num"
                                                                                            th:date="${order.orders.systime}"></i>
                        </td>
                    </tr>
                    <tr class="order" style="margin-bottom: 10px;">
                        <td class="li1" style="text-align: left;" colspan="4">
                            <a th:href="|detail?id=${order.itemsVo.get(0).goods.id}|"><img
                                    th:src="${order.itemsVo.get(0).goods.cover}"></a>
                            <div class="m-good-descript">
                                <a th:href="|detail?id=${order.itemsVo.get(0).goods.id}|"><p class="goods-descript"
                                                                                             th:text="${order.itemsVo.get(0).goods.name}">
                                    小台芒果 自然生长 生态种植</p></a>
                            </div>
                            <div class="li3"><span th:text="|￥${order.itemsVo.get(0).goods.price}|">￥26</span></div>
                            <div class="li4"><span th:text="${order.itemsVo.get(0).items.amount}">1</span></div>
                            <div class="li5"></div>
                        </td>
                        <td class="li6" rowspan="0">
                            <div>
                                <p class="total-money" th:text="|￥${order.orders.total}|">￥69</p>
                            </div>
                        </td>
                        <td class="li7" rowspan="0">
                            <div th:switch="${order.orders.status}">
                                <span th:case="1">未付款</span>
                                <span th:case="2">已付款 (支付宝)</span>
                                <span th:case="3">已发货</span>
                                <span th:case="4">已完成</span>
                            </div>
                        </td>
                        <td class="li8" rowspan="0">
                            <div>
                                <p>
                                <form action="orderPay" method="post">
                                    <input type="hidden" name="name" th:value="${order.orders.name}">
                                    <input type="hidden" name="id" th:value="${order.orders.id}">
                                    <input type="hidden" name="amount" th:value="${order.orders.total}">
                                    <input type="hidden" name="status" value="4" th:if="${order.orders.status==3}">
                                    <button type="submit" class="sta1 pay noSelect" th:if="${order.orders.status==1}">
                                        去付款
                                    </button>
                                    <button type="submit" class="sta1 pay noSelect" th:if="${order.orders.status==3}">
                                        确认收货
                                    </button>
                                </form>

                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr class="order" style="margin-bottom: 10px;" th:each="itemsVo,index:${order.itemsVo}"
                        th:if="${index.count>1}">
                        <td class="li1" style="text-align: left;" colspan="4">
                            <a th:href="|detail?id=${itemsVo.goods.id}|"><img th:src="${itemsVo.goods.cover}"></a>
                            <div class="m-good-descript">
                                <a th:href="|detail?id=${itemsVo.goods.id}|"><p class="goods-descript"
                                                                                th:text="${itemsVo.goods.name}">
                                    西州蜜瓜</p></a>
                            </div>
                            <div class="li3"><span th:text="|￥${itemsVo.goods.price}|">￥30</span></div>
                            <div class="li4"><span th:text="${itemsVo.items.amount}">1</span></div>
                            <div class="li5"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='holder'>
            <a href='order?page=1'>首页</a>
            <a th:href='|order?page=${orders.page-1}|' th:if="${orders.page>1}">上页</a>
            <a th:attr="class=${index.count==orders.page}?jp-current:null" th:title='|第${index.count}|'
               th:href='|order?page=${index.count}|' th:each="page,index:${#numbers.sequence(1,orders.numPage)}"
               th:text="${index.count}">2</a>
            <a th:href='|order?page=${orders.page+1}|' th:if="${orders.page<orders.numPage}">下页</a>
            <a th:href='|order?page=${orders.numPage}|'>尾页</a>
        </div>
    </div>
    <footer th:replace="index/footer::myfoot"></footer>
</div>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
</html>