<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.mapper.GoodsMapper">
    <resultMap id="goodVo" type="goodVo">
      <id column="id" property="goods.id"/>
      <result column="cover" property="goods.cover"/>
        <result column="name" property="goods.name"/>
        <result column="intro" property="goods.intro"/>
        <result column="spec" property="goods.spec"/>
        <result column="price" property="goods.price"/>
        <result column="stock" property="goods.stock"/>
        <result column="sales" property="goods.sales"/>
        <result column="content" property="goods.content"/>
        <result column="type_id" property="goods.typeId"/>
        <collection property="tops" select="com.hp.mapper.TopsMapper.getByGoodId" column="id" javaType="com.hp.pojo.Tops"></collection>
        <collection property="types" select="com.hp.mapper.TypesMapper.getById" column="type_id" javaType="com.hp.pojo.Types"></collection>
     </resultMap>
    <insert id="add">
        insert into goods values (null,#{cover},#{name},#{intro},#{spec},#{price},#{stock},#{sales},#{content},#{typeId});
    </insert>
    <select id="newGoods" resultType="goods">
      select * from  (select * from goods order by  id desc limit 50)a
    </select>
    <update id="update">
        update goods
        <set>
            <if test="cover != null and cover !=''">
                cover = #{cover},
            </if>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="intro != null and intro !=''">
                intro = #{intro},
            </if>
            <if test="spec != null and spec !=''">
                spec = #{spec},
            </if>
            <if test="price != null and price !=''">
                price = #{price},
            </if>
            <if test="stock != null and stock !=''">
                stock = #{stock},
            </if>
            <if test="sales != null and sales !=''">
                sales = #{sales},
            </if>
            <if test="content != null and content !=''">
                content = #{content},
            </if>
            <if test="typeId != null and typeId !=''">
                type_id = #{typeId}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from goods where id = #{id};
    </delete>
    <select id="getAll" resultMap="goodVo">
        SELECT goods.* FROM goods
            <if test="type!=null">
             JOIN tops ON tops.`good_id` = goods.`id`
           </if>
    </select>
    <select id="getById" resultMap="goodVo">
         select * from goods where id = #{id}
    </select>
    <select id="get" resultType="com.hp.pojo.Goods">
        select * from goods where id = #{id}
    </select>
    <select id="getGoodsList" resultType="com.hp.pojo.Goods">
        select * from goods
        <if test="sales!=null">
            ORDER BY sales DESC
        </if>
        <where>
            <if test="typeId!=null">
              type_id = #{typeId}
            </if>
            <if test="name!=null">
                name like CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="todayGoods" resultType="com.hp.pojo.Goods">
        SELECT * FROM tops JOIN goods ON tops.`good_id` = goods.`id`
    </select>
    <select id="hotGoods" resultType="com.hp.pojo.Goods">
        SELECT * FROM goods WHERE sales>0 ORDER BY sales DESC
    </select>
</mapper>