<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.mapper.TypesMapper">

    <insert id="addTypes">
        insert into types values (null,#{name},#{num});
    </insert>
    <update id="updateTypes">
        update types set name = #{name},num = #{num} where id = #{id};
    </update>
    <delete id="deleteTypes">
        delete from types where id = #{id};
    </delete>
    <select id="getAll" resultType="com.hp.pojo.Types">
        SELECT * FROM `types` ORDER BY  num ASC;
    </select>
    <select id="getById" resultType="com.hp.pojo.Types">
        select * from types where id = #{id};
    </select>
</mapper>